################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Klinika/obj/Debug/net6.0
.trunk
/Klinika/.vs/Klinika/DesignTimeBuild
/Klinika/.vs/Klinika/FileContentIndex
/Klinika/.vs/Klinika/v17
/Klinika/.vs/ProjectEvaluation
