################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Klinika/obj/Debug/net6.0
.trunk
/Klinika/.vs/Klinika/DesignTimeBuild
/Klinika/.vs/Klinika/FileContentIndex
/Klinika/.vs/Klinika/v17
/Klinika/.vs/ProjectEvaluation
/Klinika/klinika.client/.vshistory/klinika.client.esproj
/Klinika/klinika.client/src/pages/.vshistory
/Klinika/Klinika.Server/.vshistory
/Klinika/Klinika.Server/bin/Debug/net8.0
/Klinika/Klinika.Server/Controllers/.vshistory
/Klinika/Klinika.Server/Models/.vshistory
/Klinika/Klinika.Server/Models/Data/.vshistory
/Klinika/Klinika.Server/obj/Debug/net8.0/ref
/Klinika/Klinika.Server/obj/Debug/net8.0/staticwebassets
/Klinika/Klinika.Server/obj/Debug/net8.0/refint
/Klinika/Klinika.Server/obj/Debug/net8.0/apphost.exe
/Klinika/Klinika.Server/obj/Debug/net8.0
/Klinika/Klinika.Server/obj
/Klinika/klinika.client/src/features/user/components/.vshistory
/Klinika/klinika.client/src/features/authentication/schema/.vshistory/schema-login.ts
/Klinika/klinika.client/src/components/.vshistory/Navbar.tsx
/Klinika/klinika.client/src/api/.vshistory/ApiResponse.ts
/Klinika/klinika.client/obj/Debug
/Klinika/klinika.client/.vshistory/vite.config.ts
/Klinika/Klinika.Server/obj/Debug/net8.0/Klinika.Server.AssemblyInfo.cs
/Klinika/klinika.client/src/features/handata/components/.vshistory/Table.tsx
/Klinika/klinika.client/src/pages/developer/.vshistory/SpecializationData.tsx
/Klinika/klinika.client/src/services/.vshistory/ApiServices.ts
/Klinika/klinika.client/src/features/sidebar/data/.vshistory/sidebar_data.ts
/Klinika/klinika.client/src/router/.vshistory/pages.ts
/Klinika/Klinika.Server/Models/DTO/.vshistory/SpecializationDto.cs
/Klinika/Klinika.Server/Migrations/.vshistory/20240418010103_RenamingAspNetRolesColumns.cs
/Klinika/Klinika.Server/Migrations/.vshistory/20240418010405_RenamingAspNetRolesColumns.cs
/Klinika/klinika.client/src/pages/developer/.vshistory/RoleData.tsx
/Klinika/Klinika.Server/Models/DTO/.vshistory/IdentityDto.cs
/Klinika/Klinika.Server/Models/DTO/.vshistory/IdentityDto_Id.cs
/Klinika/Klinika.Server/Models/DTO/.vshistory/IdentityDtoCase.cs
/Klinika/klinika.client/src/pages/developer/.vshistory/UserData.tsx
/Klinika/klinika.client/src/pages/developer/.vshistory/HelpCenterCategoryData.tsx
/Klinika/klinika.client/src/pages/developer/.vshistory/HelpCenterData.tsx
/Klinika/Klinika.Server/Models/DTO/Developer/.vshistory
/Klinika/klinika.client/src/features/handata/components/.vshistory/CreateForm.tsx
/Klinika/Klinika.Server/Models/User/.vshistory/Administrator.cs
/Klinika/Klinika.Server/Models/User/.vshistory/Patient.cs
/Klinika/Klinika.Server/Models/User/.vshistory/PrimaryCareDoctor.cs
/Klinika/Klinika.Server/Models/User/.vshistory/SpecializedDoctor.cs
/Klinika/klinika.client/src/pages/developer/.vshistory/ServiceDeskData.tsx
/Klinika/klinika.client/src/features/sidebar/data/.vshistory/developer_routes.ts/2024-04-24_20_35_53_567.ts
/Klinika/klinika.client/src/features/sidebar/data/.vshistory/developer_routes.ts/2024-04-29_23_57_03_737.ts
/Klinika/klinika.client/src/features/sidebar/data/.vshistory/developer_routes.ts/2024-04-29_23_59_47_215.ts
/Klinika/klinika.client/src/pages/developer/.vshistory/UserRolesData.tsx/2024-04-29_23_59_13_128.tsx
/Klinika/klinika.client/src/pages/developer/.vshistory/UserRolesData.tsx
Klinika/Klinika.Server/appsettings.json
